@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family:'Source Code Pro', sans-self;

}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    position: relative;
    max-width: 60px;
}
header ul
{
    position: relative;
    display: flex;
}
header ul  a 
{

    display: inline-block;
    color: #333;
    font-weight: 100px;
    margin-left: 60px;
    text-decoration: none;
    font-size: 1.5em;
   
    
}
.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.content .textBox
{
    position: relative;
    max-width: 600px;
}
.content .textBox h1
{
    color: #333;
    font-size: 4em;
    line-height: 2em;
    font-weight: 400;
}
.content .textBox span
{
    color:  #e3af12;
    font-size: 1.8em;
    font-weight: 900;
}
.content .textBox p
{
    color: #333;
}
.content .textBox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #e3af12;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;

}
.content .imageBox
{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding: 50px;
    margin-top: 50px;
}
.content .imageBox img
{
    max-width: 450px;

}
.thumb
{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    display: flex;
    transition: 0.5s;
}

.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.8s;
}
.thumb li:hover
{
    transform: translate(15px);
}

.thumb li img
{
    max-width: 100px;
}
.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e3af12;
    clip-path: circle(600px at right 800px);

}
@media (max-width: 991px)
{
    header
    {
        padding: 20px;
    }
    header .logo {
        position: relative;
        max-width: 60px;
    }
    header ul {
        
        display: none;
    }
    section
    {
        padding: 30px 30px 120px ;
    }
    .content
    {
        flex-direction: column;
        margin-top: 100px;

    }
    .content .textBox h1
    {
       
        font-size: 2.5em;
        margin-bottom: 15px;

    }
    .content .textBox
    {
        max-width: 100%;

    }
    .content .textBox img
    {
        max-width: 350px;
    }
    .thumb li img
    {
        max-width: 60px;

    }
    .circle
    {
        clip-path: circle(500px at center bottom);
    }
    .thumb {
        
        bottom: -30px;
        
    }


}